# 编译输出
out/
bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/
build/
dist/

# VS Code
.vscode/

# 系统文件
Thumbs.db
.DS_Store

# 临时文件
*.tmp
*.log
*.bak